
.blogPostTitle {
    display: flex;
    align-items: center;
    gap: 0.3rem
}

p {
    font-size: 14px;
}

.numberOfPosts {
    margin: 30px;
}

.listBlogPosts li{
    background-color: #e8e6e6;
    display: flex;
    flex-direction: column;
    width: 480px;
    padding: 15px;
    border-radius: 7px;
}

.listBlogPosts {
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.link {
    color: #2C2F39;
    text-decoration: none;
    font-size: 16px;
    color: #077f44;
    font-weight: 600;
}
